<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="BookMapper" >

	<!-- 测试查询 -->
	<select id="selectTest" resultType="int">
		 select 1 from dual
	</select>
	
	<select id="selectMap" resultType="map" parameterType="com.sf.tarsier.mvc.system.entity.Book">
		select * from test where 1=1
		<if test="bookName !=null and bookName !=''">
			and name=#{bookName,jdbcType=VARCHAR}
		</if>
	</select>
	
	<select id="selectFromMap" resultType="map" parameterType="map">
		select * from test where 1=1
		<if test="bookName !=null and bookName !=''">
			and name=#{bookName,jdbcType=VARCHAR}
		</if>
	</select>
	
	<select id="getCount" resultType="int">
		select count(1) from test
	</select>
	
</mapper>   
