<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="MarketBaseMapper">

	<select id="selectMarketBaseInfo" parameterType="com.sf.tarsier.mvc.entity.QueryMarketBaseRequest"
		resultMap="marketBaseResultMap">
		select mkt_id, mkt_name_show, daily_min_packages, weight_min, weight_max, base_price, base_weight, group_limit, group_duration, use_require, create_time from pro_market_base t2 where 1=1
		<choose>
            <when test="mktId !=null and mktId !=''">
               and mkt_id=#{mktId,jdbcType=VARCHAR} 
            </when>
            <otherwise>
				and t2.create_time + INTERVAL t2.group_duration MINUTE - NOW() > 0 
				AND t2.group_limit > 
				(SELECT COUNT(1) FROM pro_market_users t1 WHERE t1.mkt_id = t2.mkt_id) 
				ORDER BY t2.create_time ASC
				LIMIT 1
            </otherwise>
        </choose>
	</select>
	<resultMap type="com.sf.tarsier.mvc.entity.MarketBase" id="marketBaseResultMap">
		<id property="mktId" column="mkt_id" />
		<result property="mktNameShow" column="mkt_name_show" />
		<result property="dailyMinPackages" column="daily_min_packages" />
		<result property="weightMin" column="weight_min" />
		<result property="weightMax" column="weight_max" />
		<result property="basePrice" column="base_price" />
		<result property="baseWeight" column="base_weight" />
		<result property="groupLimit" column="group_limit" />
		<result property="groupDuration" column="group_duration" />
		<result property="useRequire" column="use_require" />
		<result property="createTime" column="create_time" />
	</resultMap>
	
	<select id="selectMarketUsersByMktId" parameterType="String"
		resultType="map">
		SELECT DISTINCT user_name as userName, image_url as imageUrl FROM pro_market_users WHERE mkt_id = #{mktId,jdbcType=VARCHAR}
	</select>

</mapper>   
